.reviews{
    background-image: url('../../Images/About/start.svg');
    background-repeat: no-repeat;    
    background-size: cover;
    min-height: fit-content;
    min-width: 100%;
    overflow-y: hidden;
    position: relative;
    padding-bottom: 60px;
    padding: 0 30px;
}
.reviews>*{
    background: rgba(16, 20, 24, 0.7);
}